<h1>{{titulo}}</h1>

<div *ngIf="mostrarProduto()">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>código</th>
                <th>nome</th>
                <th>valor</th>
                <th>avaliação</th>
                <th>imagem</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos | slice:getIndiceInicial(paginaAtual):getIndiceFinal(paginaAtual)" (click)="selecionarProduto(produto)" [ngClass]='{"produto-selecionado": isProdutoSelecionado(produto), "produto": true}' >
                 <td>{{produto.codigo}}</td>
                 <td>{{produto.nome | uppercase }}</td>
                 <td>{{produto.preco | currency:'BRL':symbol:'3.2-4'}}</td>
                 <td>
                     <avaliacao valor={{produto.avaliacao}}></avaliacao>
                 </td>
                 <td><img [src]="produtoService.getImagem(produto)"/></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button (click)="anterior()"><</button>
        <button (click)="proxima()">></button>
    </div>

</div>

<div *ngIf="!mostrarProduto()">
    <h5>Não há qualquer produto.</h5>
</div>

<detalhe-produto [produto]="produtoSelecionado"></detalhe-produto>

{{ produtoSelecionado | apresentaProduto:'resumido' }}

